@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>

<h4>Nate Hawk</h4>
<address>
   nathan@thesoulfeathers.com
</address>



<form>
    
    <
    <div class="form-group">
        <address>
            <strong>Attn: Booking</strong><a href="mailto:nobody@myemail.com">nathan@thesoulfeathers.com</a>
        </address>
    </div>
    <div class="form-group">
        <label>Your Email address</label>
        <input type="email" class="form-control" id="senderEmail" placeholder="Your Email">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="8" placeholder="Type your message here..."></textarea>
    </div>    
    <button type="submit" class="btn btn-default">Send Message</button>
</form>