@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>The Soulfeathers</h2>
        <p class="bandBio">
            <span class="bandBio">
                For nearly ten years The Soulfeathers have made, played and lived their music.
                Honing their craft and learning to fly, they have developed a faithful following lovingly known
                as “Featherheads.” Their diverse musical heritage leads to a style of music that defies definition.
                From Country Blues to Funk Jams, The Soulfeathers create a atyle all their own, bringing a hard-
                driving, hook-laced, roots rock attitude. Blending thoughtful songwriting with an unmistakable
                southern soul, The Soulfeathers’s sound is like a sipping whiskey that goes down smooth, while burning
                lets you know its working. They play many festivals including sevenyears at Fall For
                Greenville and Spittoono music festival. They have opened for Robert Randolph and the Fam-
                ily Band, Alabama Shakes, Aj Ghent Band, Dangermuffin, Jonathan Tyler and the Northern
                Lights, Truth and Salvage Co., St Paul & the Broken Bones, and Yo Mama’s Big Fat Booty Band just
                to name a few. Home grown in South Carolina and raised in Clemson, The Soulfeathers offer purely organic energy
                that is both timeless and boldly pioneering.
            </span>
        </p>
    </div>
    <div class="vidbox">
        <div class="col-md-8">
           
                <iframe width="700" height="400" src="https://www.youtube.com/embed/bcAMw0ihgZk" frameborder="0" allowfullscreen></iframe>
          
        </div>
    </div>
</div>