
@{
    ViewBag.Title = "Links";
}
<div>
    <a href="https://www.facebook.com/TheSoulfeathers/">The Soulfeathers Facebook Page</a>
</div>
<div>
    <a href="https://www.twitter.com/TheSoulfeathers/">The Soulfeathers Twitter Page</a>
</div>
