



<div class="row">
    <div class="col-md-4">
        
        <div class="spotifywidget">
            <h5> Check us out on Spotfy</h5>
            <iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A7sDljCf3S0XAE2srrVQ6eF" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>

    <div class="col-md-8">
        <div class="vidbox2">
            <h5>"Slim Pickins" -Live at The Esso Club</h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aZ6MZLv2NXs" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
</div>

